
<style>

/* .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: transparent;
} */

.story-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 25px;
  background-color: rgba(155, 155, 155, 0.5);
  width: 600px;
  height: 700px;
  margin: 25px;
  font-size: 30px;
  text-align: center;
}

</style>


<div class="story-card">
<h1> Welcome to "Shiba Golden" </h1>
<h3> "Shiba Golden"へようこそ！ </h3>
  <h3> This is a Japanese-English story-writing website made by Rosa Tu and Natsuki Wada</h2>
    <h4> こちらは杜文雲と和田奈月による英日物語作成サイトです。 </h4>

<h4>If you are a new writer, click below to register your penname.</h4>
<h4>"あなたが新しい作家なら、あなたのペンネームをパスワードで登録するには、以下をクリックしてください"</h4>
<p><%=link_to "Register me!", new_writer_path%><%=link_to "私を登録してください!", new_writer_path%></p>


<h4>If you are returning, please write your pen_name and secret code here,<br> and click below to enter our library.</h4>
<h4>Please write your pen_name and secret code here,<br> and click below to enter our library.</h4>
<h5>ペンネームとパスワードを記入し、<br>"enter our library"をクリックしてください。</h5>
<%= form_tag do %>
<%= label_tag "Penname: " %>
<%= text_field_tag :pen_name %>
<br><%= label_tag "Password: " %>
<%= password_field_tag :password %>
<br><%= submit_tag 'enter the library'%>
<% end %>
</div>
