<style>

  .edit-story-form {
    border-radius: 25px;
    background-color: rgba(155, 155, 155, 0.5);
    min-width: 450px;
    margin: 25px auto;
    padding: 0 35px;
    font-size: 30px;
    text-align: center;
    transition: 0.3s;
  }

  .edit_story {
    display: flex
  }

  .english-form {
    width: 40%
  }

  .jap-form {
    width: 40%
  }
</style>

<div class="edit-story-form">
  <%= form_for(@story) do |f| %>
  <div class="english-form">
    <%= f.label :title %>
    <h1><%= f.text_area :title %></h1>
    <%= f.label :beginning %>
    <h2><%= f.text_area :beginning %></h2>
    <%= f.label :development %>
    <h2><%= f.text_area :development %></h2>
    <%= f.label :twist %>
    <h2><%= f.text_area :twist %></h2>
    <%= f.label :conclusion %>
    <h2><%= f.text_area :conclusion %></h2>
    <%= f.submit %><br><br><br>
  </div>

  <div class="jap-form">
    <%= f.label "題名" %>
    <h1><%= f.text_area :daimei %></h1>
    <%= f.label "起" %>
    <h2><%= f.text_area :ki %></h2>
    <%= f.label "承" %>
    <h2><%= f.text_area :shou %></h2>
    <%= f.label "転" %>
    <h2><%= f.text_area :ten %></h2>
    <%= f.label "結" %>
    <h2><%= f.text_area :ketsu %></h2>
    <%= f.submit "物語を更新する"%>
  </div>
<% end %>

</div>
